<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorate="~{page/fragment/default_layout}">
<body>

	<section class="wrapper wrap-login" layout:fragment="content">
		<div class="page-login">
			<div class="container">
			
				<!-- ##########################################
				#############		로그인 form 영역
				############################################## -->
	            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
	                <div class="row align-items-stretch mb-5">
	                    <div class="col-md-4">
	                        <div class="form-group">
	                            <input class="form-control" id="name" type="text" placeholder="아이디를 입력해주세요."/>
	                        </div>
	                        <div class="form-group mt30">
	                            <input class="form-control" id="email" type="email" placeholder="비밀번호를 입력해주세요." data-sb-validations="required,email" />
	                        </div>
	                        <div class="text-center mt30">
		                        <button class="btn btn-primary btn-xl text-uppercase">회원가입</button>
		                        <button class="btn btn-primary btn-xl text-uppercase">로그인</button>
	                        </div>
	                        <div class="text-center mt30 cw">
		                        <span>아이디 찾기</span>
	                        </div>
	                        <div class="text-center mt30 cw">
		                        <span>비밀번호 찾기</span>
	                        </div>
	                    </div>
	                    
	                    <div class="col-md-4">
	                    </div>
	                    
	                    <!-- ##########################################
						#############		sns 로그인 영역
						############################################## -->
	                    <div class="col-md-4">
	                        <div class="form-group form-group-textarea mb-md-0">
	                            <button type="button" class="btn-primary">카카오로그인</button>
	                        </div>
	                        <div class="mt30">
	                        	<button type="button" class="btn-primary">페이스북로그인</button>
	                        </div>
	                        <div class="mt30">
	                            <button type="button" class="btn-primary">네이버로그인</button>
	                        </div>
	                    </div>
	                </div>
	                
	            </form>
	            
	        </div>
		</div>
	</section>


</body>
</html> 