<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorate="~{page/fragment/default_layout}">
<body>

    <section class="page-section" id="services" layout:fragment="content">
        <div class="container">
            <div class="text-center mt90">
                <h2 class="section-heading text-uppercase">공지사항</h2>
            </div>
            <div class="row text-center mt90">
                <table>
                	<colgroup>
                		<col style="width:15%;"/>
                		<col style="width:50%;"/>
                		<col style="width:15%;"/>
                		<col style="width:20%;"/>
                	</colgroup>
                	<thead>
                		<th>번호</th>
                		<th>제목</th>
                		<th>조회수</th>
                		<th>등록일</th>
                	</thead>
                	<tbody th:if="${pg != null}" th:each="board : ${pg}">
                		<td th:text="${board.brdNo}"></td>
                		<td th:text="${board.title}"></td>
                		<td th:text="${board.viewCnt}"></td>
                		<td th:text="${#strings.substring(board.regDts, 0, 10)}"></td>
                	</tbody>
                </table>
            </div>
        </div>
    </section>
	
</body>
</html>